Repository noamkadosh/nk-starter: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

.lintstagedrc.json:

{
    "./**/*.{js,cjs,mjs,ts,jsx,tsx}": ["prettier --write", "eslint"],
    "./**/*.{css,scss}": ["prettier --write"],
    "./**/*.{json,md}": ["prettier --write"]
}

set up eslint - more work needed
  apps/docs/.eslintrc.cjs
  apps/resume/.eslintrc.cjs
  apps/web/.eslintrc.cjs
  packages/ui/.eslintrc.cjs
  packages/ui/tsconfig.node.json
Due: prettier --write, eslint

fix CI script
  .github/workflows/main.yml
Due: none

add node adpter to astro
  apps/resume/astro.config.js
  apps/resume/package.json
  pnpm-lock.yaml
Due: prettier --write, eslint

adjust github actions
  .github/workflows/auto-merge.yml
  .github/workflows/main.yml
  .github/workflows/pr-checker.yml
Due: none

feat: eslint config flat config migration
  apps/resume/eslint.config.js
  apps/resume/package.json
  apps/web/eslint.config.mjs
  apps/web/package.json
  package.json
  packages/eslint-config/astro.cjs
  packages/eslint-config/astro.js
  packages/eslint-config/browser.cjs
  packages/eslint-config/browser.js
  packages/eslint-config/jest.js
  packages/eslint-config/jsx.cjs
  packages/eslint-config/jsx.js
  packages/eslint-config/monorepo.cjs
  packages/eslint-config/monorepo.js
  packages/eslint-config/next.cjs
  packages/eslint-config/next.js
  packages/eslint-config/node.cjs
  packages/eslint-config/node.js
  packages/eslint-config/package.json
  packages/eslint-config/playwright.cjs
  packages/eslint-config/playwright.js
  packages/eslint-config/react.cjs
  packages/eslint-config/react.js
  packages/eslint-config/storybook.cjs
  packages/eslint-config/storybook.js
  packages/eslint-config/tailwindcss.cjs
  packages/eslint-config/tailwindcss.js
  packages/eslint-config/testing-library.cjs
  packages/eslint-config/testing-library.js
  packages/eslint-config/vitest.cjs
  packages/eslint-config/vitest.js
  packages/ui/package.json
  pnpm-lock.yaml
Due: prettier --write, eslint

feat: configure turbo.json
  apps/resume/eslint.config.js
  apps/resume/turbo.json
  apps/web/eslint.config.mjs
  apps/web/turbo.json
  eslint.config.js
  packages/ui/eslint.config.js
  packages/ui/turbo.json
  turbo.json
Due: prettier --write, eslint

feat: configure CI
  .github/workflows/ci.yml
  .github/workflows/main.yml
  apps/resume/eslint.config.js
  apps/resume/package.json
  apps/resume/public/resume.pdf
  apps/resume/turbo.json
  apps/web/app/layout.tsx
  apps/web/app/page.tsx
  apps/web/eslint.config.mjs
  apps/web/next.config.ts
  apps/web/package.json
  eslint.config.js
  package.json
  packages/eslint-config/astro.js
  packages/eslint-config/core.js
  packages/eslint-config/eslint.config.js
  packages/ui/eslint.config.js
  packages/ui/src/utils.ts
  packages/ui/turbo/generators/config.ts
  pnpm-lock.yaml
Due: prettier --write, eslint

feat: added storybook
  .github/workflows/ci.yml
  .gitignore
  apps/resume/eslint.config.js
  apps/resume/src/pages/index.md
  apps/resume/turbo.json
  apps/storybook/.storybook/main.ts
  apps/storybook/.storybook/preview.ts
  apps/storybook/README.md
  apps/storybook/eslint.config.js
  apps/storybook/package.json
  apps/storybook/tsconfig.json
  apps/storybook/turbo.json
  apps/web/eslint.config.mjs
  apps/web/package.json
  apps/web/tsconfig.json
  apps/web/turbo.json
  eslint.config.js
  package.json
  packages/eslint-config/astro.js
  packages/eslint-config/core.js
  packages/eslint-config/eslint.config.js
  packages/eslint-config/package.json
  packages/eslint-config/react.js
  packages/eslint-config/storybook.js
  packages/ui/turbo.json
  pnpm-lock.yaml
  tsconfig.json
Due: prettier --write, eslint

feat(resume): intsall only chromium for playwright
  apps/resume/package.json
Due: prettier --write

feat: adjust tsconfig paths
  apps/resume/public/resume.pdf
  apps/resume/tsconfig.json
  apps/storybook/tsconfig.json
  apps/web/tsconfig.json
  packages/eslint-config/core.js
  packages/ui/components.json
  packages/ui/src/components/ui/button.tsx
  packages/ui/src/components/ui/card.tsx
  packages/ui/tsconfig.app.json
  packages/ui/tsconfig.json
  packages/ui/tsconfig.node.json
  tsconfig.json
Due: prettier --write, eslint

feat: adjust storybook vite config
  apps/resume/tsconfig.json
  apps/storybook/.storybook/main.ts
  apps/storybook/package.json
  apps/storybook/tsconfig.json
  apps/web/eslint.config.mjs
  apps/web/next.config.ts
  apps/web/package.json
  apps/web/src/app/favicon.ico
  apps/web/src/app/globals.css
  apps/web/src/app/layout.tsx
  apps/web/src/app/page.tsx
  apps/web/tsconfig.json
  packages/eslint-config/storybook.js
  packages/ui/package.json
  packages/ui/src/components/ui/button.stories.tsx
  packages/ui/vite.config.ts
  pnpm-lock.yaml
Due: prettier --write, eslint

feat(eslint-config): add types to configs
  apps/resume/eslint.config.js
  apps/resume/public/resume.pdf
  apps/storybook/.storybook/main.ts
  apps/storybook/eslint.config.js
  apps/web/eslint.config.mjs
  eslint.config.js
  packages/eslint-config/astro.d.ts
  packages/eslint-config/browser.d.ts
  packages/eslint-config/core.d.ts
  packages/eslint-config/eslint.config.js
  packages/eslint-config/jest.d.ts
  packages/eslint-config/jsx.d.ts
  packages/eslint-config/monorepo.d.ts
  packages/eslint-config/next.d.ts
  packages/eslint-config/node.d.ts
  packages/eslint-config/package.json
  packages/eslint-config/playwright.d.ts
  packages/eslint-config/react.d.ts
  packages/eslint-config/storybook.d.ts
  packages/eslint-config/tailwind.d.ts
  packages/eslint-config/testing-library.d.ts
  packages/eslint-config/vitest.d.ts
  packages/ui/eslint.config.js
Due: prettier --write, eslint

feat: adjust repo for a starter template
  apps/resume/.browserslistrc
  apps/resume/.prettierignore
  apps/resume/.prettierrc.json
  apps/resume/README.md
  apps/resume/astro.config.js
  apps/resume/eslint.config.js
  apps/resume/package.json
  apps/resume/public/favicon.svg
  apps/resume/public/resume.pdf
  apps/resume/scripts/generate-pdf.js
  apps/resume/src/components/Download.astro
  apps/resume/src/env.d.ts
  apps/resume/src/layouts/Layout.astro
  apps/resume/src/pages/index.md
  apps/resume/src/styles.css
  apps/resume/tailwind.config.ts
  apps/resume/tsconfig.json
  apps/resume/turbo.json
  package.json
  pnpm-lock.yaml
Due: prettier --write, eslint

feat(design-system): name change
  .github/dependabot.yml
  README.md
  apps/web/package.json
  packages/design-system/components.json
  packages/design-system/eslint.config.js
  packages/design-system/package.json
  packages/design-system/postcss.config.js
  packages/design-system/src/components/index.ts
  packages/design-system/src/index.css
  packages/design-system/src/index.ts
  packages/design-system/src/ui/button.stories.tsx
  packages/design-system/src/ui/button.tsx
  packages/design-system/src/ui/card.tsx
  packages/design-system/src/ui/index.ts
  packages/design-system/src/utils.ts
  packages/design-system/tailwind.config.ts
  packages/design-system/tsconfig.app.json
  packages/design-system/tsconfig.json
  packages/design-system/tsconfig.node.json
  packages/design-system/turbo.json
  packages/design-system/turbo/generators/config.ts
  packages/design-system/turbo/generators/templates/component.hbs
  packages/design-system/vite.config.ts
  packages/ui/src/components/index.ts
  pnpm-lock.yaml
Due: prettier --write, eslint

fix: adjust component in story to fix the build
  apps/web/eslint.config.js
  packages/design-system/src/ui/button.stories.tsx
Due: prettier --write, eslint

feat: add docs app with fumadocs
  .gitignore
  apps/cms/package.json
  apps/docs/README.md
  apps/docs/eslint.config.js
  apps/docs/next.config.ts
  apps/docs/package.json
  apps/docs/postcss.config.js
  apps/docs/source.config.ts
  apps/docs/src/app/(home)/layout.tsx
  apps/docs/src/app/(home)/page.tsx
  apps/docs/src/app/api/search/route.ts
  apps/docs/src/app/docs/[[...slug]]/page.tsx
  apps/docs/src/app/docs/layout.tsx
  apps/docs/src/app/global.css
  apps/docs/src/app/layout.config.tsx
  apps/docs/src/app/layout.tsx
  apps/docs/src/content/docs/index.mdx
  apps/docs/src/content/docs/test.mdx
  apps/docs/src/lib/source.ts
  apps/docs/tailwind.config.ts
  apps/docs/tsconfig.json
  apps/web/package.json
  pnpm-lock.yaml
Due: prettier --write, eslint

feat: update to node 22
  .github/workflows/ci.yml
  .github/workflows/pr-checker.yml
  apps/cms/next.config.ts
  apps/cms/package.json
  package.json
Due: prettier --write, eslint

fix(docs): add turbo.json for docs app
  apps/cms/next.config.ts
  apps/docs/next.config.ts
  apps/docs/src/lib/source.ts
  apps/docs/turbo.json
  apps/web/next.config.ts
Due: prettier --write, eslint

chore(ci): remove resume remnants
  .github/workflows/ci.yml
Due: none

feat(docs): add tsconfig for .source
  apps/docs/src/lib/source.ts
  apps/docs/tsconfig.json
Due: prettier --write, eslint

feat: migrate to bun as package manager
  .github/workflows/auto-merge.yml
  .github/workflows/ci.yml
  .github/workflows/pr-checker.yml
  .husky/pre-commit
  .prettierignore
  README.md
  apps/cms/Dockerfile
  apps/cms/docker-compose.yml
  apps/cms/package.json
  apps/docs/README.md
  apps/docs/package.json
  apps/docs/tailwind.config.ts
  apps/web/README.md
  bun.lock
  bunfig.toml
  package.json
  packages/design-system/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write, eslint

feat: remove PR checker flow that does nothing
  .github/workflows/pr-checker.yml
Due: none

feat: update to bun 1.2.0
  .github/workflows/ci.yml
  apps/cms/Dockerfile
  apps/cms/docker-compose.yml
  apps/docs/package.json
  bun.lock
  bunfig.toml
  package.json
Due: prettier --write

feat: update README
  README.md
Due: prettier --write

feat: create a base Dockerfile
  .vscode/launch.json
  Dockerfile
Due: prettier --write

feat: docker setup
  apps/cms/docker-compose.yml
  apps/cms/next.config.ts
  apps/cms/package.json
  apps/docs/Dockerfile
  apps/docs/next.config.ts
  apps/docs/package.json
  apps/storybook/Dockerfile
  apps/storybook/package.json
  apps/web/Dockerfile
  apps/web/next.config.ts
  apps/web/package.json
  bun.lock
  docker-compose.yml
  package.json
  turbo.json
Due: prettier --write, eslint

feat: docker setup
  .dockerignore
  apps/cms/docker-compose.yml
  apps/cms/next.config.ts
  apps/cms/package.json
  apps/docs/Dockerfile
  apps/docs/next.config.ts
  apps/docs/package.json
  apps/storybook/Dockerfile
  apps/storybook/package.json
  apps/web/Dockerfile
  apps/web/next.config.ts
  apps/web/package.json
  bun.lock
  docker-compose.yml
  package.json
  turbo.json
Due: prettier --write, eslint

feat: add jsr registry
  .npmrc
  bun.lock
Due: none

feat: organization
  README.md
  apps/cms/package.json
  apps/design-system/.storybook/main.ts
  apps/design-system/.storybook/preview.ts
  apps/design-system/Dockerfile
  apps/design-system/README.md
  apps/design-system/eslint.config.js
  apps/design-system/package.json
  apps/design-system/tsconfig.json
  apps/design-system/turbo.json
  apps/docs/package.json
  apps/web/package.json
  bun.lock
  bunfig.toml
  packages/design-system/components.json
  packages/design-system/package.json
  packages/design-system/src/ui/button.tsx
  packages/design-system/src/ui/card.tsx
  packages/design-system/tsconfig.app.json
  packages/design-system/tsconfig.json
  packages/design-system/tsconfig.node.json
Due: prettier --write, eslint

feat: organization
  .env
  .github/dependabot.yml
  .gitignore
  README.md
  apps/cms/package.json
  apps/design-system/.storybook/main.ts
  apps/design-system/.storybook/preview.ts
  apps/design-system/Dockerfile
  apps/design-system/README.md
  apps/design-system/eslint.config.js
  apps/design-system/package.json
  apps/design-system/tsconfig.json
  apps/design-system/turbo.json
  apps/docs/package.json
  apps/web/package.json
  bun.lock
  bunfig.toml
  packages/design-system/components.json
  packages/design-system/package.json
  packages/design-system/src/ui/button.tsx
  packages/design-system/src/ui/card.tsx
  packages/design-system/tsconfig.app.json
  packages/design-system/tsconfig.json
  packages/design-system/tsconfig.node.json
Due: prettier --write, eslint

feat: organization
  .env
  .github/dependabot.yml
  .gitignore
  README.md
  apps/cms/package.json
  apps/design-system/.storybook/main.ts
  apps/design-system/.storybook/preview.ts
  apps/design-system/Dockerfile
  apps/design-system/README.md
  apps/design-system/eslint.config.js
  apps/design-system/package.json
  apps/design-system/tsconfig.json
  apps/design-system/turbo.json
  apps/docs/package.json
  apps/web/package.json
  apps/web/tailwind.config.ts
  bun.lock
  bunfig.toml
  packages/design-system/components.json
  packages/design-system/package.json
  packages/design-system/src/ui/button.tsx
  packages/design-system/src/ui/card.tsx
  packages/design-system/tsconfig.app.json
  packages/design-system/tsconfig.json
  packages/design-system/tsconfig.node.json
Due: prettier --write, eslint
